body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-margin, .input-margin {
    margin: 10px auto;
}

.btn-margin.action {
    margin: 10px;
}

.centered {
    text-align: center;
    margin: 10px;
}

.wrapper {
    max-width: 768px;
    margin: auto;
    padding: 30px;
}